<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Monthly budget:</strong>
  <%= @profile.monthly_budget %>
</p>

<p>
  <strong>Value hour:</strong>
  <%= @profile.value_hour %>
</p>

<p>
  <strong>Days per week:</strong>
  <%= @profile.days_per_week %>
</p>

<p>
  <strong>Hours per day:</strong>
  <%= @profile.hours_per_day %>
</p>

<p>
  <strong>Github profile:</strong>
  <%= @profile.github_profile %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
